<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<style type="text/css">
		.footer{
			margin-top:100px;
			background: #282828;
		}
		.copyright{
			width: 735px;
			margin: 0 auto;
			margin-top: 35px;
			margin-bottom: 20px;
			text-align: center;
			font-size: 13px;
			color: #666;


		}
		.copyright span{
			font-size: 12px;
			color: #666;
			text-decoration: none;
		}

		.list{
			margin: 0 auto;
			text-align: center;
		}
		.list ul li{
			display: inline-block;
			font-size: 15px;
		}
		.list a{
			color: #666;
			text-decoration: none;
		}
	</style>
</head>
<body>
<div class="footer">
	<div class="list">
		<br>
		<br><br>
		<ul class="list">
			<li><a href="#">关于我们 &nbsp&nbsp | &nbsp&nbsp</a></li>
			<li><a href="#">官方微信 &nbsp&nbsp | &nbsp&nbsp</a></li>
			<li><a href="#">帮助中心 &nbsp&nbsp | &nbsp&nbsp</a></li>
			<li><a href="#">加入我们</a></li>
		</ul>
	</div>
	<footer class="copyright">
		<span>Copyright &nbsp©&nbsp2017&nbsp闲菜网浙ICP备17022247号</span>
	</footer>
	<br>
</div>
</body>
</html>