<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>注册</title>
<link href="__ROOT__/static/register/css/bootstrap.min.css" rel="stylesheet">
<link href="__ROOT__/static/register/css/gloab.css" rel="stylesheet">
<link href="__ROOT__/static/register/css/index.css" rel="stylesheet">
<script src="__ROOT__/static/register/js/jquery-1.11.1.min.js"></script>
<script src="__ROOT__/static/register/js/register.js"></script>
<style type="text/css">
    .bgf4 {
        background: #fff;
    }
    .login-box{
        margin-top: 20px;
    }
    #main {
        width: 1024px; 
        min-width: 1024px;
        margin: 0 auto;
        border-radius: 5px;
    }
    .f-pb50 {
        padding-bottom: 10px;
    }
    #captchaimg{
        max-width: 93px;
    }
    /*下半部分*/
    .bottom_box{
        width: 735px;
        margin: 0 auto;
        margin-top: 45px;
        text-align: center;
        font-size: 13px;
        color: #666;
    }
    .bottom_box a{
        font-size: 13px;
        color: #666;
        text-decoration: none;
    }
    /*头部*/
    .header{
        width: 1024px;
        height: 75px;
        /*background: #fff;*/
        position: relative;
        margin: 0 auto;
    }
    .logo{
        position: absolute;
        /*width: 186px;*/
        height: 55px;
        top: 10px;
        left: 20px;
        /*background: #fff;*/
    }
    .logo img{
        /*width: 186px;*/
        height: 55px;
        float: left;
    }
    .logo_font{
        float: left;
        height: 30px;
        line-height: 30px;
        color: #666;
        font-size: 24px;
        padding-left: 40px;
        /*margin-left: 20px;*/
        margin-top: 15px; 
        border-left: 1px solid #d5d5d5;
    }
    .go_to_index{
        position: absolute;
        right: 0;
        top: 10px;
        height: 55px;
        line-height: 55px;
        color: #666;
    }
    .go_to_index a{
        color: #666;
        text-decoration-line: none;
    }
</style>
</head>
<body class="bgf4">
<!-- 头部 -->
<header class="header">
    <div class="logo">
        <img src="__ROOT__/static/index/images/logo.png">
        <!-- <div class="logo_font">闲菜网</div> -->
    </div>
    <div class="go_to_index"><a href="__ROOT__/">返回首页</a></div>
</header>
<div class="login-box f-mt10 f-pb50">
	<div class="main bgf" id="main">    
    	<div class="reg-box-pan display-inline">  
        	<div class="step">        	
                <ul>
                    <li class="col-xs-4 on">
                        <span class="num"><em class="f-r5"></em><i>1</i></span>                	
                        <span class="line_bg lbg-r"></span>
                        <p class="lbg-txt">填写账户信息</p>
                    </li>
                    <li class="col-xs-4">
                        <span class="num"><em class="f-r5"></em><i>2</i></span>
                        <span class="line_bg lbg-l"></span>
                        <span class="line_bg lbg-r"></span>
                        <p class="lbg-txt">验证账户信息</p>
                    </li>
                    <li class="col-xs-4">
                        <span class="num"><em class="f-r5"></em><i>3</i></span>
                        <span class="line_bg lbg-l"></span>
                        <p class="lbg-txt">注册成功</p>
                    </li>
                </ul>
            </div>
        	<div class="reg-box" id="verifyCheck" style="margin-top:20px;">
            	<div class="part1">                	
                    <div class="item col-xs-12">
                        <span class="intelligent-label f-fl"><b class="ftx04">*</b>用户名：</span>    
                        <div class="f-fl item-ifo">
                            <input id="nickNmae" type="text" maxlength="20" class="txt03 f-r3 required" tabindex="1" data-valid="isNonEmpty||between:3-20||isUname" data-error="用户名不能为空||用户名长度3-20位||只能输入中文、字母、数字、下划线，且以中文或字母开头" id="adminNo" />                            <span class="ie8 icon-close close hide"></span>
                            <label class="icon-sucessfill blank hide"></label>
                            <label class="focus"><span>3-20位，中文、字母、数字、下划线的组合，以中文或字母开头</span></label>
                            <label class="focus valid"></label>
                        </div>
                    </div>
                    <div class="item col-xs-12">
                        <span class="intelligent-label f-fl"><b class="ftx04">*</b>手机号：</span>    
                        <div class="f-fl item-ifo">
                            <input id="phoneNumber" type="text" class="txt03 f-r3 required" keycodes="tel" tabindex="2" data-valid="isNonEmpty||isPhone" data-error="手机号码不能为空||手机号码格式不正确" maxlength="11" id="phone" /> 
                            <span class="ie8 icon-close close hide"></span>                           
                            <label class="icon-sucessfill blank hide"></label>
                            <label class="focus">请填写11位有效的手机号码</label>
                            <label class="focus valid"></label>
                        </div>
                    </div>
                    <div class="item col-xs-12">
                        <span class="intelligent-label f-fl"><b class="ftx04">*</b>密码：</span>    
                        <div class="f-fl item-ifo">
                            <input type="password" id="password" maxlength="20" class="txt03 f-r3 required" tabindex="3" style="ime-mode:disabled;" onpaste="return  false" autocomplete="off" data-valid="isNonEmpty||between:6-20||level:2" data-error="密码不能为空||密码长度6-20位||该密码太简单，有被盗风险，建议字母+数字的组合" /> 
                            <span class="ie8 icon-close close hide" style="right:55px"></span>
                            <span class="showpwd" data-eye="password"></span>                        
                            <label class="icon-sucessfill blank hide"></label>
                            <label class="focus">6-20位英文（区分大小写）、数字、字符的组合</label>
                            <label class="focus valid"></label>
                            <span class="clearfix"></span>
                            <label class="strength">
                            	<span class="f-fl f-size12">安全程度：</span>
                            	<b><i>弱</i><i>中</i><i>强</i></b>
                            </label>    
                        </div>
                    </div>
                    <div class="item col-xs-12">
                        <span class="intelligent-label f-fl"><b class="ftx04">*</b>确认密码：</span>    
                        <div class="f-fl item-ifo">
                            <input id="password" type="password" maxlength="20" class="txt03 f-r3 required" tabindex="4" style="ime-mode:disabled;" onpaste="return  false" autocomplete="off" data-valid="isNonEmpty||between:6-16||isRepeat:password" data-error="密码不能为空||密码长度6-16位||两次密码输入不一致" id="rePassword" />
                            <span class="ie8 icon-close close hide" style="right:55px"></span>
                            <span class="showpwd" data-eye="rePassword"></span>
                            <label class="icon-sucessfill blank hide"></label>
                            <label class="focus">请再输入一遍上面的密码</label> 
                            <label class="focus valid"></label>                          
                        </div>
                    </div>
                    <div class="item col-xs-12">
                        <span class="intelligent-label f-fl"><b class="ftx04">*</b>验证码：</span>    
                        <div class="f-fl item-ifo">
                            <input id="captchaCode" type="text" maxlength="6" class="txt03 f-r3 f-fl required" tabindex="4" style="width:167px" id="randCode" data-valid="isNonEmpty" data-error="验证码为空或者错误" /> 
                            <span class="ie8 icon-close close hide"></span>
                            <label class="f-size12 c-999 f-fl f-pl10">
                                <!-- 验证码图片地址 -->
                            <img id="captchaimg" src="__ROOT__/phpcaptcha/captcha.php?rand={$rand}" />                           
                            </label>                        
                            <label class="icon-sucessfill blank hide" style="left:380px"></label>
                            <label class="focusa">看不清？<a href="javascript: refreshCaptcha();" class="c-blue">换一张</a></label>   
                            <label class="focus valid" style="left:370px"></label>                        
                        </div>
                    </div>
                    <div class="item col-xs-12" style="height:auto">
                        <span class="intelligent-label f-fl">&nbsp;</span>  
                        <p class="f-size14 required"  data-valid="isChecked" data-error="请先同意条款"> 
                        	<input id="checked" type="checkbox" checked /><a href="javascript:showoutc();" class="f-ml5">我已阅读并同意条款</a>
                        </p>                       
                        <label class="focus valid"></label> 
                    </div> 
                    <div class="item col-xs-12">
                        <span class="intelligent-label f-fl">&nbsp;</span>    
                        <div class="f-fl item-ifo">
                           <a href="javascript:;" class="btn btn-blue f-r3" id="btn_part1">下一步</a>                         
                        </div>
                    </div> 
                </div>
                <div class="part2" style="display:none">
                	<div class="alert alert-info" style="width:700px">短信已发送至您手机，请输入短信中的验证码，确保您的手机号真实有效。</div>                    
                    <div class="item col-xs-12 f-mb10" style="height:auto">
                        <span class="intelligent-label f-fl">手机号：</span>    
                        <div id="sendPhone" class="f-fl item-ifo c-blue">18258205329</div>
                    </div>
                    <div class="item col-xs-12">
                        <span class="intelligent-label f-fl"><b class="ftx04">*</b>验证码：</span>    
                        <div class="f-fl item-ifo">
                            <input type="text" maxlength="6" id="verifyNo" class="txt03 f-r3 f-fl required" tabindex="4" style="width:167px" data-valid="isNonEmpty||isInt" data-error="验证码不能为空||请输入6位数字验证码" /> 
                           	<span class="btn btn-gray f-r3 f-ml5 f-size13" id="time_box" disabled style="width:97px;display:none;">发送验证码</span>
                            <span onclick="sendCaptchaToPhone()" class="btn btn-gray f-r3 f-ml5 f-size13" id="verifyYz" style="width:97px;">发送验证码</span>
                            <span class="ie8 icon-close close hide" style="right:130px"></span>
                            <label class="icon-sucessfill blank hide"></label>
                            <label class="focus"><span>请查收手机短信，并填写短信中的验证码（此验证码3分钟内有效）</span></label>   
                            <label class="focus valid"></label>                        
                        </div>
                    </div>
                    <div class="item col-xs-12">
                        <span class="intelligent-label f-fl">&nbsp;</span>    
                        <div class="f-fl item-ifo">
                           <a href="javascript:;" class="btn btn-blue f-r3" id="btn_part2">注册</a>                         
                        </div>
                    </div> 
                </div>  
                <div class="part3 text-center" style="display:none">
                	<h3>恭喜，您已注册成功，现在开始您的闲菜网之旅吧！</h3>
                    <p class="c-666 f-mt30 f-mb50">页面将在 <strong id="times" class="f-size18">10</strong> 秒钟后，跳转到 <a href="__ROOT__/account" class="c-blue">用户中心</a></p>
                </div>          
            </div>
        </div>
    </div>
</div>
<div class="m-sPopBg" style="z-index:998;"></div>
<div class="m-sPopCon regcon">
	<div class="m-sPopTitle"><strong>服务协议条款</strong><b id="sPopClose" class="m-sPopClose" onClick="closeClause()">×</b></div>
    <div class="apply_up_content">
    	<pre class="f-r0">
		<strong>同意以下服务条款，提交注册信息</strong>
        <div>
        </div>
        </pre>
    </div>
    <center><a class="btn btn-blue btn-lg f-size12 b-b0 b-l0 b-t0 b-r0 f-pl50 f-pr50 f-r3" href="javascript:closeClause();">已阅读并同意此条款</a></center>
</div>
<!-- 底部 -->
<footer class="bottom_box">
    <a href="#">©2017美丽乡村网站</a> 浙ICP备17022247号
</footer>
<script>
// 换一张验证码图片
function refreshCaptcha(){
    var img = document.images['captchaimg'];
    img.src = img.src.substring(0,img.src.lastIndexOf("?"))+"?rand="+Math.random()*1000;
}

$(function(){	
	//第一页的确定按钮
	$("#btn_part1").click(function(){						
		if(!verifyCheck._click()) return;
        // 信息填写正确方可执行下一步
        basicInformation();
	});
	//第二页的确定按钮
	$("#btn_part2").click(function(){			
		if(!verifyCheck._click()) return;
        // 输入的手机验证码正确方可下一步
        phoneVerification()
	});	
	//第三页的确定按钮
	$("#btn_part3").click(function(){			
		if(!verifyCheck._click()) return;
		$(".part3").hide();
		$(".part4").show();
		$(".step li").eq(2).addClass("on");
		countdown({
			maxTime:10,
			ing:function(c){
				$("#times").text(c);
			},
			after:function(){
				window.location.href="my.html";		
			}
		});		
	});	
});
function showoutc(){$(".m-sPopBg,.m-sPopCon").show();}
function closeClause(){
	$(".m-sPopBg,.m-sPopCon").hide();		
}

// 注册和手机验证
function phoneVerification() {
    var phoneReceiveCode = $("#verifyNo").val();
    var nickNmae = $("#nickNmae").val();
    var phoneNumber = $("#phoneNumber").val();
    var captchaCode = $("#captchaCode").val();
    var password = $("#password").val();
    var checked = $("#checked").val();
    $.ajax({
       type: "post",
       url: "__ROOT__/index/enter/register",
       dataType: "json",
       data: {"phoneReceiveCode":phoneReceiveCode,"nickNmae":nickNmae,"phoneNumber":phoneNumber,"captchaCode":captchaCode,"password":password,"checked":checked},
       success: function(msg){
        // console.log(msg);
        // 不正确
        if (msg == "no") {
            // warnFun("verifyNo","你输入的验证不正确");
            $("#verifyNo").parent().find(".icon-sucessfill").addClass("hide");
            $("#verifyNo").parent().find(".valid").removeClass("hide");
            $("#verifyNo").parent().find(".valid").text("你输入的验证不正确");
        }else{
            $(".part2").hide();
            $(".part3").show(); 
            $(".step li").eq(2).addClass("on");

            var ul = "__ROOT__/index/enter/remberUser?nick_name="+msg.nick_name+"&password="+msg.password+"&remberPassword=false&id="+msg.id; 
            setcookie(ul);

            countdown({
                maxTime:5,
                ing:function(c){
                    $("#times").text(c);
                },
                after:function(){
                    window.location.href="__ROOT__/account";     
                }
            }); 
        }
       }
   });
}

function setcookie(ul){
        $.ajax({
           type: "GET",
           url: ul,
           success: function(msg){
           }
        });
    }

// 发送手机验证码
function sendCaptchaToPhone() {
    var sendPhone = $("#sendPhone").text();
    $.ajax({
       type: "get",
       url: "__ROOT__/index/enter/sendCaptchaToPhone",
       dataType: "json",
       data: {"sendPhone":sendPhone},
       success: function(msg){
        // console.log(msg);
       }
   });
}

// 基本信息填写
function basicInformation() {
    var nickNmae = $("#nickNmae").val();
    var phoneNumber = $("#phoneNumber").val();
    var captchaCode = $("#captchaCode").val();
    // var password = $("#password").val();
    // var checked = $("#checked").val();

    var data = new Array();
    data = data.concat(nickNmae,phoneNumber,password,captchaCode,checked);
    $.ajax({
       type: "POST",
       url: "__ROOT__/index/enter/receiveData",
       dataType: "json",
       data: {"nickNmae":nickNmae,"phoneNumber":phoneNumber,"captchaCode":captchaCode},
       success: function(msg){
         if (msg.haveNick != "yes" && msg.havePhone != "yes" && msg.isTrueCaptcha == "yes") {

            // 下一步
            $(".part1").hide();
            $(".part2").show();
            $(".step li").eq(1).addClass("on");
            $("#sendPhone").text( phoneNumber );
            return 1;
         }else{
            // 昵称已经存在
            if ( msg.haveNick == "yes") 
            {
                $("#nickNmae").parent().find(".icon-sucessfill").addClass("hide");
                $("#nickNmae").parent().find(".valid").removeClass("hide");
                $("#nickNmae").parent().find(".valid").text("此昵称已被占用！");
            }
            if ( msg.havePhone == "yes") 
            {
                $("#phoneNumber").parent().find(".icon-sucessfill").addClass("hide");
                $("#phoneNumber").parent().find(".valid").removeClass("hide");
                $("#phoneNumber").parent().find(".valid").text("此电话号码已经注册");
            }
            if ( msg.isTrueCaptcha == "no") 
            {
                $("#captchaCode").parent().find(".icon-sucessfill").addClass("hide");
                $("#captchaCode").parent().find(".valid").removeClass("hide");
                $("#captchaCode").parent().find(".valid").text("输入的验证码不正确");
            }
            return 0;
         }
       }
    });
}
</script>
</body>
</html>
