.realTime-content{
	min-height: 300px;
	margin: 20px 20px 0 0;
	float: right;
}
.panel-default{
	border-radius: 5px;
}
.panel-body {
    padding: 15px;
}

/*实时情况座位*/
.seat-card{
	text-align: center;
	cursor: pointer;
	border-radius: 5px;
}
.user-card:hover{
	background: #aaa;
}
.user-notend{
	color: red;
}
.user-title{
	background: #337ab7;
	color: #fff;
}